/* @font-face{
    font-family: 'MyCustomFont';
    src: url('../public/Fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
@font-face{
    font-family: "Heading";
    src:url('../public//Fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Belli";
    src:url('../public/Fonts/SourGummy_SemiExpanded-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "choco";
    src:url('../public/Fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "new";
    src:url('../public/Fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "newa";
    src:url('../public/Fonts/SourGummy_SemiExpanded-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
