@import "tailwindcss";

html, body {
  /* Prevent horizontal scroll */
  margin: 0;
  padding: 0;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* For IE */
  scrollbar-width: none; /* For Firefox */
}