@import "tailwindcss";

html, body {
  overflow-x: hidden; /* Prevents horizontal scrolling but allows vertical scrolling */
}

[data-scroll-container] {
  min-height: 100vh;
  overflow-y: auto; /* Ensures content can scroll */
}
